*{
    font-family: sans-serif;
}
body{
    background-color: gray;
    background-size: cover;
}
#logo{
    max-width: 150px;
    margin-left: 30px;
}
.nav-list{
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;
}
.nav-item:first-child{
    margin-right: auto;
    margin-left:2rem ;
    color: white;
}
.site-title{
    color:white;
    text-align: center;
    font-size: 50px;
}
.site-subtitle{
    color: white;
    text-align: center;
}
.first-3{
    display: flex;
    justify-content:center;  
    
}
.price-item{
    margin: 30px;
}
.last-3{
    display: flex;
    justify-content:center;  
    
}
.price-item2{
    margin: 30px;

}
.price-item2 h1{
    color: blue;
}
#price{
    color:red;
}
