*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e8e8e8;
    
}
#logo{
    max-width: 150px;
    height: 40px;
    margin-left: 30px;
}
#nav{
    background-color: #121212;
    border-bottom: 5px solid white;
}
.nav-list{
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;
}
.hover-underline-animation{
    position: relative;
    color: white;
    text-decoration: none;
}
.hover-underline-animation::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25 ease-out;
    transform: scaleX(0);
}
.hover-underline-animation:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-item:first-child{
    margin-right: auto;
    margin-left:2rem ;
  
}
.hero{
    background-image: url("../images/portada.jpg");
    background-color: gray;
    background-blend-mode: multiply;
    padding-top: 400px;
    padding-bottom: 400px;
    background-size: cover;
    
}
#hero-title{
    font-size: 4em;
    text-align: center;
    color: white;
}
#hero-subheading{
    color:white;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 25px;
}
#hero-subheading2{
    color:white;
    text-align: center;
    font-size: 1.25rem;

}
#hero-shipping{
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 25px;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-button{
   width: 200px;
   height: 50px;
   color: white;
   font-size: 18px;
   font-weight: bold;
   border: none;
   border-radius: 25px;
   background-color: #fe4d4d;
   margin-top: 25px;
}
#hero-button:hover{
    background-color: #fe0000;
}
.service{
   
}
#service-title{
    color: #444444;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
#service-subtitle{
    color: #444444;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.service-carusel{
   display: flex;
   justify-content: center;
   
 
}
.card{
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
    background-color: white ;
   
}
#card-icon{
    width: 86px;
    height: 86px;
    margin-left: 40px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
#card-heading{
    font-size: 22px;
    margin-top: 20px;
    color: #444444;
    text-align: center;
}
#card-subheading{
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}
#card-button{
    margin-top: 15px;
    width: 100px;
    height: 35px;
    background-color: #fe4d4d;
    color: white;
    font-weight: bold;
    border: 3px solid #fe4d4d;
    border-radius: 25px
}
#card-button:hover{
    background-color: #fe0000;
}
